
  <button *ngIf="identity" class="btn btn-primary btn-lg btn-block" (click)="emitirEvento()" >Agregar Miembro</button>

  <div id="accordion" role="tablist" *ngFor="let persona of personal">  
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="pull-left">
            <a data-toggle = "collapse" href="#{{persona._id}}"  aria-controls="collapseOne">
                {{persona.cedula_personal}}
            </a>
          </h5>
          <button class="btn btn-success pull-right"   ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        </div>
        <div id="{{persona._id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <h5><strong>Nombres: </strong>{{persona.nombre_personal}}</h5>
            <h5><strong>Apellidos: </strong>{{persona.apellido_personal}}</h5>
            <h5><strong>Rol: </strong>{{persona.rol_personal}}</h5>
            <h5><strong>Fecha de nacimiento: </strong>{{persona.fecha_nacimiento_personal | date}}</h5>
          </div>
        </div>
      </div>
    </div>