<div class="container jumbotron" *ngIf="!mostrar_formulario_inicial">
  <h1 class="text-center">
    No ha selecionado una temporada.
  </h1>
</div>


<div class="container jumbotron" *ngIf="mostrar_formulario_inicial">
  <h1 class="text-center">
    CATEGORIAS DE LA TEMPORADA: {{temporada_actual.nombre_temporada}}
    <small>{{temporada_actual._id}}</small><br>
  </h1>
</div>

<div class="collapse" id="collapseExample">
    <div class="card container">
      <div class="card-header text-center">
        <h3>{{titulo}}</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <!-- <div class="row"> -->
              <!-- <div class="col-md-6"> -->
                <div class="form-group">
                    <small class="text-muted Error">
                        Nombre de la Categoria
                    </small> 
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-futbol-o"></i></div>
                    <input type="text" name="name" class="form-control" placeholder="Nombre de la Categoria" #nombre_categoria="ngModel" [(ngModel)]="categoria.nombre_categoria" required autofocus>
                  </div>
                </div>
              <!-- </div> -->
  
            <!-- </div> -->
          </div>
          <div class="col-lg-3">
              <!-- <div class="col-md-6"> -->
                  <div class="form-group">
                      <small class="text-muted Error">
                          Número de Equipos Participantes
                      </small> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-calendar"></i></div>
                      <input type="number" name="name" class="form-control" placeholder="Número de Equipos Participantes" #n_equipos_categoria="ngModel" [(ngModel)]="categoria.n_equipos_categoria" required>
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
          </div>
  
        </div>
  
      </div>
      <div class="card-footer">
        <button class="btn btn-success pull-left" type="submit" (click)="guardarEquipo()">Guardar Equipo </button>
        <!-- <a class="btn btn-success pull-left" (click)="guardarEquipo()" role="button">Guardar Equipo</a> -->
        <a class="btn btn-danger pull-right" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample"
          (click)="cancelar_registro_equipo($event)">Cancelar</a>
      </div>
    </div>
  </div>
<!-- CARDS DE LA CATEGORIAS -->
<div class="container marketing">
    <div class="row">
      <div class="col-lg-4 equipo">
        <div class="card">
          <div class="card-header">
            <h3>Delfin Sporting Club</h3>
          </div>
          <div class="card-block">
            <img class="rounded-circle imgcenter" src="assets/popper/docs/images/delfin.png" alt="Generic placeholder image" width="140"
              height="140">
            <br>
            <p class="card-text">Año de Fundación: 2017</p>
            <p><a class="btn btn-primary" href="#" role="button">Ver más detalles &raquo;</a></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Presidente: Juan Manuel Zoto Zoto</small>
            <p>Presidente: Juan Manuel Zoto Zoto</p>
            <a *ngIf="identity" class="btn btn-warning pull-left" href="#" role="button">Modificar</a>
            <a *ngIf="identity" class="btn btn-danger pull-right" href="#" role="button">Eliminar</a>
          </div>
        </div>
      </div>
  
      <!-- <div class="col-lg-4 equipo" *ngFor="let equi of equipos">
          <div class="card">
            <div class="card-header">
              <h3>{{equi.nombre_equipo}}</h3>
            </div>
            <div class="card-block">
              <img class="rounded-circle imgcenter" src="assets/popper/docs/images/delfin.png" alt="Generic placeholder image" width="140"
                height="140">
              <br>
              <p class="card-text">Año de Fundación: {{equi.anio_fundacion_equipo}}</p>
              <p><a class="btn btn-primary" href="#" role="button">Ver más detalles &raquo;</a></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Presidente: Juan Manuel Zoto Zoto</small>
              <p>Presidente: Juan Manuel Zoto Zoto</p>
              <a *ngIf="identity" class="btn btn-warning pull-left" role="button" 
              data-toggle="collapse" href="#editarEquipo" aria-expanded="false" aria-controls="editarEquipo"
              >Modificar</a>
              <a *ngIf="identity" class="btn btn-danger pull-right" href="#" role="button">Eliminar</a>
            </div>
          </div>
        </div> -->
  
  
      <div class="col-lg-4 equipo" *ngIf="mostrar_formulario_inicial">
        <div class="card">
          <div class="card-header">
            <h3>Agregar una Nueva Categoria o Division</h3>
          </div>
          <div class="card-block">
              <p class="card-text">Click sobre la Imagen para empezar</p>
              <h2><i class="fa fa-hand-o-down" aria-hidden="true"></i></h2>
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                     <img id="addequipo" class="rounded-circle imgcenter" src="assets/popper/docs/images/nuevo.jpg" alt="Generic placeholder image" width="140" height="140">
                                                    </a>
          </div>
          <br>
          <div class="card-footer">
            <small class="text-muted">Todas las categorias creadas perteneceran a la temporada: {{temporada_actual.nombre_temporada}}</small>
          </div>
        </div>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>


