<div class="jumbotron" *ngIf="!validarTemporadas">
  <h1 class="display-3">¡NO EXISTEN TEMPORADAS CREADAS!</h1>
  <p class="lead">En una temporada se podrán crear varias categorios o divisiones</p>
  <hr class="my-4">
  <p>Para empezara  crear una temporada <br> <a class="btn btn-primary" href="#" role="button">Nueva Temporada</a></p>
</div>

<div class="jumbotron" *ngIf="validarTemporadas">
  <h1>TEMPORADA ACTUAL</h1>
  <hr class="my-4">
  <p>Nombre de la Temporada: {{temporada_actual.nombre_temporada}}</p>
  <p>Fecha de Inicio: {{temporada_actual.fecha_inicio}}</p>
  <p>Fecha de Clausura: {{temporada_actual.fecha_fin}}</p>
  <p>Diponibilidad del Reglamento: <label for="" *ngIf="(temporada_actual.url_reglamento_temporada)">SI</label><label for="" *ngIf="!(temporada_actual.url_reglamento_temporada)">NO</label></p>
</div>

<div class="jumbotron" *ngIf="mostrar_formualrio_nuevo">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>{{titulo}}</h2>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
          <div class="form-group col-lg-12">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-newspaper-o"></i></div>
                <input type="text" name="name" class="form-control" placeholder="Nombre de la Temporada" #nombre_temporada="ngModel" [(ngModel)]="temporada_nueva.nombre_temporada" required autofocus>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
            </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <small class="text-muted Error">
                    Fecha de Inicio de la Temporada
                </small>  
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-calendar"></i></div>
                  <input type="date" name="name" class="form-control" placeholder="today" #fecha_inicio="ngModel" [(ngModel)]="temporada_nueva.fecha_inicio" required>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
              </div> 
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <small class="text-muted Error">
                    Fecha de Clausura del la Temporada 
                </small> 
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-calendar"></i></div>
                  <input type="date" name="name" class="form-control" placeholder="" #fecha_fin="ngModel" [(ngModel)]="temporada_nueva.fecha_fin">
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
              </div>
        </div> 
      </div>
      <div class="row" *ngIf="estado_readio_button == true" >
        <div class="col-lg-6">
            <small id="activar" class="text-muted Error">
                ¿Marcar la temporada como Actual?
             </small>
            <div class="accounttype" id="activar">
                <input type="radio" id="radioOne" name="account" 
                #estado_temporada="ngModel" [(ngModel)]="temporada_nueva.estado_temporada"
                 (ngModelChange)="rolSelect($event)" value=true
                 [checked]="temporada_nueva.estado_temporada" />
                <label for="radioOne" class="radio" >SI</label>
                <input type="radio" id="radioTwo" name="account"
                #estado_temporada="ngModel" [(ngModel)]="temporada_nueva.estado_temporada"
                (ngModelChange)="rolSelect($event)" value=false
                [checked]="temporada_nueva.estado_temporada" />
                <label for="radioTwo" class="radio">NO</label>
              </div>
        </div>
        <div class="col-lg-6">
            <small id="activar" class="text-muted Error">
               Si la temporada se marca como actual, sera visible para el publico en general
            </small>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div *ngIf = "pdfSubido == true" >
          <a [href]="pdf" download="TOD">Descargar Archivo</a>        
                <div class="contenedor-pdf">
                    <pdf-viewer [src]="pdf" 
                    [original-size]="true"
                    [zoom]="0.25"
                    ></pdf-viewer>
                </div>
      </div>
      <div *ngIf = "pdfSubido == false" >
          <div class="form-group">
              <input type="file" (change)="imagen($event)" name="file-5[]" id="file-5" class=" inputfile inputfile-4" />
              <label for="file-5" ><figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span>{{nombre_documento}}</span></label>
          </div>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
      <div class="col-lg-12">
        <button  *ngIf = "titulo == 'Editar Temporada'"class="btn btn-success pull-left" href="" (click)="updateTemporada()">Guardar Cambios</button>
        <button  *ngIf = "titulo == 'Crear Temporada Nueva'" class="btn btn-success pull-left" href="" (click)="guardarTemporada()">Guardar Temporada</button>
        <button class="btn btn-danger pull-right" href="" (click)="cerrar_formulario($event)">Cancelar</button>
      </div>
  </div>

  
    <!-- <object data="http://localhost:3999/temporada/get-pdf-temporada/5MCP9BBOim2PnozDTkpq_5z0.pdf" type="application/pdf" width="100%" height="100%"></object>  -->


</div>



