.posiciones{
    /* border: 3px solid blue; */
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}
.tabla_posiciones{
    /* border: 1px solid red; */
    padding-right: 15px;
}
.tabla_noticias{
    /* border: 1px solid black; */
    padding-left: 15px;
}


/* Equipos */
.equipo a:hover{
    -webkit-transform:  scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#addequipo:hover{
    -webkit-transform:  scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.card img{
    margin-top: 1rem;
}
IMG.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    }
