<div class="row posiciones">
        <!-- <div class="col-lg-8 tabla_posiciones" [ngSwitch]="verElemento"> -->
        <div class="col-lg-8 tabla_posiciones" >
                <app-seccion-equipo (mostrar)="mostrarDescripcionEquipo($event)"></app-seccion-equipo>
        </div>
        <div class="col-lg-4 tabla_noticias">
                
                <app-seccion-personal-equipo [equip]="equipo" (emitir)="mostrarNuevoPer($event)" *ngIf="verLista"></app-seccion-personal-equipo>
                
        </div>
</div>
<div class="row">
  <div class="col-lg-8" [hidden]="!verNuevoPersonal">
      <app-nuevo-personal [IdEquipo]="equipo._id" *ngIf="verNuevoPersonal" ></app-nuevo-personal>
  </div>

</div>

<hr class="featurette-divider">

