<div class="container" >
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        ESTADIOS HABILITADOS
      </h1>
      <!-- <button class="btn btn-success" data-toggle="collapse" href="#AgregarEstadio" aria-expanded="false" aria-controls="AgregarEstadio">Agregar Nuevo Estadio</button> -->
    </div>
  </div>
  <!-- <hr class="featurette-divider"> -->

  <div class="row featurette jumbotron">
    <div class="col-md-7 col-lg-7">
      <h2 class="featurette-heading">Nombre del Estadio
      </h2>
      <p><span class="text-muted">Direccion:
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, dolorem.
          <a href="">Como llegar</a>
        </span></p>
      <p class="lead">Descripción General del Estadio: 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam illo eaque maxime suscipit amet vitae similique nihil sunt fuga, dignissimos magnam consequatur harum voluptate quod temporibus! Quo facilis blanditiis temporibus illo praesentium labore delectus, quia laboriosam assumenda nesciunt unde modi nihil, iste id dolor perferendis corrupti iusto sed! Modi soluta laborum fugit ad ducimus, consequuntur repellat, inventore obcaecati sunt quibusdam neque quia id ex porro cum ipsum sit sequi atque quaerat! Assumenda quibusdam iste accusantium, quasi cupiditate nisi maiores asperiores officiis nulla enim, repellat, modi rem
      </p>
    </div>
    <div class="col-md-5 col-lg-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/img/estadio_america.jpg" alt="Generic placeholder image">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.4348189235407!2d-78.6029420857049!3d-0.7944160994204577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d45922a83cec13%3A0x835791c8dee424ff!2sEstadio+de+las+Americas!5e0!3m2!1ses!2sec!4v1505064890469"   frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


  <hr class="featurette-divider">
</div>