<!-- <input class="form-control form-control-lg" type="text" placeholder="Ingrese el equipo"> -->
<!-- <input class="form-control" type="text" placeholder="Default input">
<input class="form-control form-control-sm" type="text" placeholder=".form-control-sm"> -->
<!-- <label for="">Seleccione un equipo</label> -->
<!-- <br> -->
<div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon frm-addon" style="width: 2.6rem"><i class="fa fa-flag-checkered" aria-hidden="true"></i></div>
                <!-- <label for="exampleFormControlSelect1">Example select</label> -->
                <select  class="form-control"  [(ngModel)]="equipo">
                                <!-- <option value="" disabled selected>Select your option</option> -->
                                <option disabled hidden [value]="selectUndefinedOptionValue">Seleccione un equipo</option>
                                
                                <option  *ngFor="let equipo of equipos" [ngValue]="equipo">{{equipo.nombre_equipo}}</option>
                            
                        </select>
              </div>

<br>
<div class="card mb-3" *ngIf="equipo">
        <div class="card-header">
                <h4 class="card-title">{{equipo.nombre_equipo}}</h4>
        </div>
        <img class="rounded-circle imgcenter" src="assets/popper/docs/images/delfin.png" alt="Generic placeholder image" width="140"
        height="140">
        <div class="card-body">
          <p class="card-text">{{equipo.observacion_equipo}}</p>
          <p class="card-text">{{equipo.color_principal_equipo}}</p>
          <p class="card-text">{{equipo.color_secundario_equipo}}</p>
          <p class="card-text"><small class="text-muted">{{equipo.anio_fundacion_equipo | date:'dd - MMMM - yyyy'}}</small></p>
        </div>
</div>